<h1>Balance</h1>
<hr>

<span>
    Network:
    <br>
    <select [(ngModel)]="network">
        <option value="Xode">Xode</option>
    </select>
</span>
<br>

<span>
    Address:
    <br>
    <select [(ngModel)]="publicKey" (change)="onAddressChange()">
        <option *ngFor="let address of addresses" value={{address.publicKey}}>
            {{address.publicKey}}
        </option>
    </select>
</span>

<hr>
<table>
    <thead>
        <th scope="col">Symbol</th>
        <th scope="col">Description</th>
        <th scope="col">Free</th>
        <th scope="col">Transfer</th>
      </thead>
    <tbody>
        <tr *ngFor="let balance of balances; let i = index ">
            <th scope="row" class="cell">{{ balance.symbol }}</th>
            <th scope="row" class="cell">{{ balance.description }}</th>
            <th scope="row" class="cell">{{ balance.free }}</th>
            <th scope="row"><button (click)="transfer(i)">Transfer</button></th>
        </tr>
    </tbody>
</table>

<hr>
<span class="footer">{{message}}</span>
